{% extends 'padre.html' %}

{% load static %}

{% block contenido %}

{% if mangas %}

<ul>

    {% for mangas in mangas %}
 


    <p></p>
   

    <div style="text-align:center" class="card">
     <div class="card-body">  
    <p style="text-align:center"><b>Título:</b> {{mangas.titulo}}</p>
    <p style="text-align:center"><b>Número:</b> {{mangas.numero}}</p>
    <p style="text-align:center"><b>Autor:</b> {{mangas.autor}}</p>
    <p style="text-align:center"><b>Editorial:</b> {{mangas.editorial}}</p>
   </div>
   </div>

   
    {% endfor %}

    {% else %}
    <p></p>
    <h3 style="text-align:center">No se encontraron mangas con ese nombre en tu colección <a></a><i class="fa-solid fa-face-sad-cry"></i></h3>
    {% endif %}

</ul>

{% endblock %}