{% extends 'padre.html' %}

{% load static %}

{% block contenido %}

{% if novelas %}

<ul>

    {% for novelas in novelas%}
    
    <p></p>
    
    <div style="text-align:center" class="card">
          <div class="card-body">  
    <p style="text-align:center"><b>Título:</b> {{novelas.titulo}}</p>
    <p style="text-align:center"><b>Autor:</b> {{novelas.autor}}</p>
    <p style="text-align:center"><b>Editorial:</b> {{novelas.editorial}}</p>
    </div>
    </div>

    {% endfor %}

    {% else %}
     <p></p>
     <h3 style="text-align:center">No se encontraron novelas con ese nombre en tu colección <a></a><i class="fa-solid fa-face-sad-cry"></i></h3>
    {% endif %}

</ul>

{% endblock %}