{% extends 'padre.html' %}

{% load static %}

{% block contenido %}

{% if comics %}

<ul>

    {% for comics in comics %}
    
    <p></p>
    
    <div style="text-align:center" class="card">
        <div class="card-body">  
    <p style="text-align:center"><b>Título:</b> {{comics.titulo}}</p>
    <p style="text-align:center"><b>Número:</b> {{comics.numero}}</p>
    <p style="text-align:center"><b>Guionista:</b> {{comics.guionista}}</p>
    <p style="text-align:center"><b>Dibujante:</b> {{comics.dibujante}}</p>
    <p style="text-align:center"><b>Editorial:</b> {{comics.editorial}}</p>
    </div>
    </div>  
     
    {% endfor %}

    {% else %}
    <p></p>
    <h3 style="text-align:center">No se encontraron comics con ese nombre en tu colección <a></a><i class="fa-solid fa-face-sad-cry"></i></h3>
    {% endif %}

</ul>

{% endblock %}